@charset "utf-8";
@media screen {
/*-----------------------------------------------------------------------------------
  Global Reset v0.3 (based on http://meyerweb.com/eric/tools/css/reset/ - v1.0 | 20080212)
-----------------------------------------------------------------------------------*/
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, audio { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
  body { line-height: 1; }
  ol, ul { 

	//list-style: none; 
	margin-left: 25px;
	
	}

	li {margin-bottom: 4px;}


  :focus { outline: 3px solid #FAD129; /*outline: 0;*/ }
  table { border-collapse: collapse; border-spacing: 0; }

@media not print{
#formBody {
  background-color: #ffffff !important;
}

.FormStyle {margin:auto !important; width: 980px; background: white; border-radius: 15px;}

td {font-size: 16px !important; padding-left: 0px;}

input, select {margin: 3px 0 10px 0; height: 25px; padding-left: 5px; margin-left: 5px;}
input[type="radio"] {height: 12px; display: inline;}

input#NextButton, input#PrevButton, input#SaveAsDraftButton {
	background-color: #5e0009; 
	color: #fffff; display: 
	inline-block; 
	font-size: 16px; 
	height: 34px; 
	line-height: 35px; 
	text-align: center; 
	text-transform: uppercase; 
	margin-bottom: 10px; 
	border:0; 
	padding: 0 18px 0 18px; 
	
	cursor: pointer;
	border-radius: 3px;
}

input#NextButton:hover, input#PrevButton:hover, input#SaveAsDraftButton:hover {background-color: #5e0009; text-decoration: none;}

.width100 {width: initial!important;}
#formnavbuttons {padding-left: 66px;}



@font-face {
	font-family: Calibre;
	src: url('Calibre.otf');
}
@font-face {
	font-family: Calibre;
	src: url('Calibre-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: Calibre;
	src: url('Calibre-Italic.otf');
	font-style: italic;
}
.otf {
	-moz-font-feature-settings: "calt", "liga", "clig", "kern", "swsh";
	-ms-font-feature-settings: "calt", "liga", "clig", "kern", "swsh";
	-webkit-font-feature-settings: "calt", "liga", "clig", "kern", "swsh";
	font-feature-settings: "calt", "liga", "clig", "kern", "swsh";
}



h1, h2, h2 {font-family: Calibre;}

h1 {
	font-size: 22pt;
	margin-bottom: 10px;}

h2 {	
	font-size: 16pt;
	margin-bottom: 25px;
	margin-top: 20px !important;
	}

a {color: #7b2240;}

p {
	margin-bottom: 30px;	
	font-family: Calibre;
	font-size: 12pt;
	line-height: 16pt;
	}

label, .inlinelabel {
	font-family: Calibre;
	font-size: 11pt !important;
	font-weight: bold !important;
	padding-left: 10px;
	}


hr {
	border: 1px #000 solid;
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	}



#FormPage { 
	margin-left: auto;
	margin-right: auto;
	}


.FormStyle {
	padding-top: 15px !important;

}

#Required {
	position: relative;
	top: 35px;
  	right: 50px;
	font-style: italic;
	font-family: Calibre;
	font-size: 12pt;
}


input#586dfd00-af0e-48e8-ba44-7c7471871ae8 {
	margin-top: 50px;
}

.inputcontainer::after {
	left: -1px !important;
}


.invoicetable {
	margin-top: 30px !important;
}


.verAlignTop {
	vertical-align: middle !important;
}



.middlealigntable {
	vertical-align: middle !important;
}

label {
	padding-top: 10px;
	padding-bottom: 2px;
}

select {
	margin-bottom: 8px;
}

input[type=checkbox] {
	height: 28px;
    }

.documentationupload {

	vertical-align: middle !important;

}
